[Desktop Entry]
Name=Souffleur Agenda Planner
GenericName=Daily Event Planner Application
Comment=Keep a Schedule and Remind the User to Do Things
Exec=/opt/souffleur/bin/souffleur
Icon=souffleur
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Calendar;
X-Desktop-File-Install-Version=0.16
